<a href="https://colab.research.google.com/github/2303A51111/ADM_LAB/blob/main/ADM_LAB_006.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:
data = {'Category': ['A', 'B', 'C', 'A', 'B']}
df = pd.DataFrame(data)

In [3]:
label_encoder = LabelEncoder()
df['Label_Encoded'] = label_encoder.fit_transform(df['Category'])

In [5]:
one_hot_encoded = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, one_hot_encoded], axis=1)
print(df)

  Category  Label_Encoded  Category_A  Category_B  Category_C  Category_A  \
0        A              0        True       False       False        True
1        B              1       False        True       False       False
2        C              2       False       False        True       False
3        A              0        True       False       False        True
4        B              1       False        True       False       False

   Category_B  Category_C
0       False       False
1        True       False
2       False        True
3       False       False
4        True       False

In [9]:
from datetime import datetime
data = {'Name': ['Alice', 'Bob'], 'Date_of_Birth': ['1990-05-14', '1985-08-23']}
df = pd.DataFrame(data)

In [10]:
df['Date_of_Birth'] = pd.to_datetime(df['Date_of_Birth'])

In [11]:
 current_year = datetime.now().year
df['Age'] = current_year - df['Date_of_Birth'].dt.year
print(df)

    Name Date_of_Birth  Age
0  Alice    1990-05-14   35
1    Bob    1985-08-23   40

In [12]:
data = {'Category': ['A', 'A', 'B', 'B', 'C'],
'Value': [10, 20, 10, 30, 40]}
df = pd.DataFrame(data)

In [13]:
grouped = df.groupby('Category').agg({'Value': ['sum', 'mean']})
print("Grouped Data:\n", grouped)

Grouped Data:
          Value
           sum  mean
Category
A           30  15.0
B           40  20.0
C           40  40.0

In [14]:
 pivot = df.pivot_table(index='Category', values='Value', aggfunc=['sum',
'mean'])
print("\nPivot Table:\n", pivot)

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0